<!DOCTYPE html>
<html>
    <head>
        <title>Whatsapp App - New Chat</title>
        <link rel="stylesheet" href="style.css"/>
    
    </head>
    <body>
        <h3>New Chat !!</h3>

        <form method="POST" action="/chats">
            <input placeholder="Who are you" name="from">
            <br>
            <br>
            <textarea name="msg">Write your message here</textarea>
            <br>
            <br>
            <input placeholder="Add receivers name" name="to">
            <br>
            <br>
            <button>Create Chat!</button>
        </form>


    </body>
</html>